<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <div class="bro2">
      <form class="form" action="/submit-form" method  = "POST">
        
        
        <div class="container">
             
          <div class="row">
            <div class="col-sm-2">
              <label for="organiser" ><b>Organised By:</b></label>
            </div>
            <div class="col-sm-3">
              <input type="text" id="organiser" name="organiser" class="form-control" required/>
            </div>
          </div>
            <br>
            <div class="row">
                
                <div class="col-3"><label><b>Date</b></label>
                   
                    <input type="date" name = "date" required/>
                </div>

                <div class="col"><label htmlFor=""><b>Place</b></label>
                    <input type="text" name="place" required />
                </div>
              </div>
              <br>

              <div class="row">
                <!-- <div class="col-3">
                    <label ><b>ID:</b></label>
                    <input type="text" /></div> -->
                
                <div class="col-3"><label><b>Age</b></label>
                   
                    <input type="string" name = "age" required/>
                </div>

                <div class="col"><label htmlFor=""><b>Contact:</b></label>
                  <input type="text" name="contact" required/>
                </div>
              </div>
              <br>
          
          <br />
          <label htmlFor=""><b>Name</b></label>
          <br />
          <input type="text" name="name" required/>
          <br />
          <br>
          <label ><b>Gender</b></label>
          <br />
          <div class="row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="gender1" name="gender" value="Male" required />
                    <label class="form-check-label" for="gender1">Male</label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="gender2" name="gender" value="Female" required />
                    <label class="form-check-label" for="gender2">Female</label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="gender3" name="gender" value="Other" required/>
                    <label class="form-check-label" for="gender3">Others</label>
                </div>
            </div>
        </div>
          <br></br>
          <label name = "complaint"><b>Chief Complaint</b></label>
          <br />
          <textarea rows="1" cols="40" name="complaint" form="usrform" required></textarea>
          <br />
          <br>
          <label ><b>Past Medical History</b></label>
          <br />
          <!-- <br>
          <label htmlFor="">Diabetes</label>
          <br />
          <input type="radio" id="visit1" name="Diabetes" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="Diabetes" value="NO" />
          <label for="visit2">No</label>
          <br /> -->
          <br><br/>
          <div class="form-group">
            <label for="diabetes">Diabetes</label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit1" name="Diabetes" value="Yes" required/>
              <label class="form-check-label" for="visit1">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit2" name="Diabetes" value="No" required/>
              <label class="form-check-label" for="visit2">No</label>
            </div>
          </div>
          <br>

          <!-- <br>
          <label htmlFor="">HyperTension</label>
          <br />
          <input type="radio" id="visit1" name="HyperTension" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="HyperTension" value="NO" />
          <label for="visit2">No</label>
          <br /> -->
          <div class="form-group">
            <label for="hyperTension">HyperTension</label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit1" name="HyperTension" value="Yes" required/>
              <label class="form-check-label" for="visit1">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit2" name="HyperTension" value="No" required/>
              <label class="form-check-label" for="visit2">No</label>
            </div>
          </div>
          <br>
          

          <!-- <br>
          <label htmlFor="">Thyroid disorders</label>
          <br />
          <input type="radio" id="visit1" name="Thyroid" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="Thyroid" value="NO" />
          <label for="visit2">No</label>
          <br /> -->

          <div class="form-group">
            <label for="thyroid">Thyroid disorders</label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit1" name="Thyroid" value="Yes" required/>
              <label class="form-check-label" for="visit1">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit2" name="Thyroid" value="No" required/>
              <label class="form-check-label" for="visit2">No</label>
            </div>
          </div>
          
          <br>
          <!-- <br>
          <label htmlFor="">Cardiovascular diseases</label>
          <br />
          <input type="radio" id="visit1" name="Cardiovascular" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="Cardiovascular" value="NO" />
          <label for="visit2">No</label>
          <br /> -->
          <div class="form-group">
            <label for="cardiovascular">Cardiovascular diseases</label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit1" name="Cardiovascular" value="Yes" required/>
              <label class="form-check-label" for="visit1">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit2" name="Cardiovascular" value="No" required/>
              <label class="form-check-label" for="visit2">No</label>
            </div>
          </div>
          <br>
          

          <!-- <br>
          <label htmlFor="">Respiratory diseases</label>
          <br />
          <input type="radio" id="visit1" name="Respiratory" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="Respiratory" value="NO" />
          <label for="visit2">No</label>
          <br /> -->
          <div class="form-group">
            <label for="respiratory">Respiratory diseases</label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit1" name="Respiratory" value="Yes" required/>
              <label class="form-check-label" for="visit1">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit2" name="Respiratory" value="No" required/>
              <label class="form-check-label" for="visit2">No</label>
            </div>
          </div>
          <br>
          

          <!-- <br>
          <label htmlFor="">Bleeding disorders</label>
          <br />
          <input type="radio" id="visit1" name="Bleeding" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="Bleeding" value="NO" />
          <label for="visit2">No</label>
          <br /> -->
          <div class="form-group">
            <label for="bleeding">Bleeding disorders</label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit1" name="Bleeding" value="Yes" required/>
              <label class="form-check-label" for="visit1">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit2" name="Bleeding" value="No" required/>
              <label class="form-check-label" for="visit2">No</label>
            </div>
          </div>
          <br>
          


          <!-- <br>
          <label htmlFor=""><b>Past Dental Visit</b></label>
          <br />
          <input type="radio" id="visit1" name="visit" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="visit" value="No" />
          <label for="visit2">No</label>
          <br /> -->
          <div class="form-group">
            <label for="visit"><b>Past Dental Visit</b></label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit1" name="visit" value="Yes" required/>
              <label class="form-check-label" for="visit1">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit2" name="visit" value="No" required/>
              <label class="form-check-label" for="visit2">No</label>
            </div>
          </div>
          <br>
          
          

          <!-- <br>
          <label><b>Personal Habits</b></label>
          <br />
          <br>
          <label htmlFor="">Smoking</label>
          <br />
          <input type="radio" id="visit1" name="Smoking" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="Smoking" value="NO" />
          <label for="visit2">No</label>
          <br />

          <br>
          <label htmlFor="">Alcohol</label>
          <br />
          <input type="radio" id="visit1" name="Alcohol" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="Alcohol" value="NO" />
          <label for="visit2">No</label>
          <br />

          <br>
          <label htmlFor="">Nothing</label>
          <br />
          <input type="radio" id="visit1" name="Nothing" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="Nothing" value="NO" />
          <label for="visit2">No</label>
          <br /> -->
          <div class="form-group">
            <label for="smoking"><b>Personal Habits</b></label>
            <br>
            <br>
            <label for="smoking">Smoking</label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="smoking-yes" name="Smoking" value="Yes" />
              <label class="form-check-label" for="smoking-yes">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="smoking-no" name="Smoking" value="No" />
              <label class="form-check-label" for="smoking-no">No</label>
            </div>
            <br>
            <label for="alcohol">Alcohol</label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="alcohol-yes" name="Alcohol" value="Yes" />
              <label class="form-check-label" for="alcohol-yes">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="alcohol-no" name="Alcohol" value="No" />
              <label class="form-check-label" for="alcohol-no">No</label>
            </div>
            <br>
            <label for="nothing">None</label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="nothing-yes" name="Nothing" value="Yes" />
              <label class="form-check-label" for="nothing-yes">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="nothing-no" name="Nothing" value="No" />
              <label class="form-check-label" for="nothing-no">No</label>
            </div>
          </div>
          
          <br>
          <br>

          <div class="row">

            <!-- <div class="row">
                <div class="col-2"><label><b>Tooth number:</b></label></div>
                <div class="col-"><input type="text"name = "toothnumber"/></div>
            </div> -->
            <br>
            <br/>
            <div class="row">
                <div class="col-2"><label htmlFor=""><b>Decayed:</b></label></div>
                <div class="col-"><input type="text" name="decayed"  /></div>
            </div>
            <br>
            <br/>
            <div class="row">
                <div class="col-2"><label htmlFor=""><b>Missing:</b></label></div>
                <div class="col-"><input type="text" name="missing" /></div>
            </div>
            <br>
            <br/>
            <div class="row">
                <div class="col-2"><label htmlFor=""><b>Filled:</b></label></div>
                <div class="col-"><input type="text" name = "filled" /></div>
            </div>
            <br>
            <br/>
            <div class="row">
                <div class="col-2"><label htmlFor=""><b>Pain:</b></label></div>
                <div class="col-"><input type="text" name="pain" /></div>
            </div>
            <br>
            <br/>
            <div class="row">
                <div class="col-2"><label htmlFor=""><b>Fracture:</b></label></div>
                <div class="col-"><input type="text" name="fractured" /></div>
            </div>
            <br>
            <br/>
            <div class="row">
                <div class="col-2"><label htmlFor=""><b>Mobility:</b></label></div>
                <div class="col-"><input type="text" name="mobility" /></div>
            </div>
            <br>
            <br/>
            <div class="row">
              <div class="col-2"><label htmlFor=""><b>Others:</b></label></div>
              <div class="col-"><input type="text" name="Others" /></div>
          </div>
            


          </div>
          <br />
          <br />
          <div class="row">
            <div class="col-2"><label htmlFor=""><b>Gingiva</b></label></div>
          </div>
          <br>

          <!-- <br>
          <label htmlFor="">Calculus:</label>
          <br />
          <input type="radio" id="visit1" name="Calculus" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="Calculus" value="NO" />
          <label for="visit2">No</label>
          <br /> -->
          <div class="form-group">
            <label for="calculus">Calculus:</label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" name="Calculus" id="calculusYes" value="Yes" required>
              <label class="form-check-label" for="calculusYes">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" name="Calculus" id="calculusNo" value="No" required>
              <label class="form-check-label" for="calculusNo">No</label>
            </div>
          </div>
          <br>
        
          
          <!-- <br>
          <label htmlFor="">Stains:</label>
          <br />
          <input type="radio" id="visit1" name="Stains" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="Stains" value="NO" />
          <label for="visit2">No</label>
          <br /> -->
          <div class="form-group">
            <label for="stains">Stains:</label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="stainsYes" name="Stains" value="Yes" required>
              <label class="form-check-label" for="stainsYes">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="stainsNo" name="Stains" value="No" required>
              <label class="form-check-label" for="stainsNo">No</label>
            </div>
          </div>
          <br>
          

          <!-- <br>
          <label htmlFor="">Generalized chronic gingivitis:</label>
          <br />
          <input type="radio" id="visit1" name="gingivitis" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="gingivitis" value="NO" />
          <label for="visit2">No</label>
          <br /> -->
          <div class="form-group">
            <label for="gingivitis">Generalized chronic gingivitis:</label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit1" name="gingivitis" value="Yes" required>
              <label class="form-check-label" for="visit1">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit2" name="gingivitis" value="No" required>
              <label class="form-check-label" for="visit2">No</label>
            </div>
          </div>
          <br>
          

          <!-- <br>
          <label htmlFor="">Generalized chronic periodontitis:</label>
          <br />
          <input type="radio" id="visit1" name="periodontitis" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="periodontitis" value="NO" />
          <label for="visit2">No</label>
          <br /> -->
          <div class="form-group">
            <label for="periodontitis">Generalized chronic periodontitis:</label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit1" name="periodontitis" value="Yes" required/>
              <label class="form-check-label" for="visit1">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit2" name="periodontitis" value="No" required/>
              <label class="form-check-label" for="visit2">No</label>
            </div>
          </div>
          <br>
          
        
          <!-- <br>
          <label htmlFor=""><b>Dental Fluorosis</b></label>
          <br />
          <input type="radio" id="visit1" name="floro" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="floro" value="NO" />
          <label for="visit2">No</label>
          <br /> -->
          <div class="form-group">
            <label for="dentalFluorosis"><b>Dental Fluorosis</b></label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit1" name="floro" value="Yes" required>
              <label class="form-check-label" for="visit1">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" id="visit2" name="floro" value="No" required>
              <label class="form-check-label" for="visit2">No</label>
            </div>
          </div>
          <br>
          


          <!-- <br>
          <label htmlFor=""><b>Malocclusion</b></label>
          <br />
          <input type="radio" id="visit1" name="malo" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="malo" value="No" />
          <label for="visit2">No</label>
          <br /> -->
          <div class="form-group">
            <label for="malo"><b>Malocclusion</b></label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="malo" id="maloYes" value="Yes" required>
              <label class="form-check-label" for="maloYes">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="malo" id="maloNo" value="No" required>
              <label class="form-check-label" for="maloNo">No</label>
            </div>
          </div>
          <br>
          


          <!-- <br>
          <label htmlFor=""><b>Oral mucosal lesion</b></label>
          <br />
          <input type="radio" id="visit1" name="masc" value="Yes" />
          <label for="visit1">Yes</label>
          <br />
          <input type="radio" id="visit2" name="masc" value="No" />
          <label for="visit2">No</label>
          <br /> -->
          <div class="form-group">
            <label for="oralMucosalLesion"><b>Oral mucosal lesion</b></label>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" name="oralMucosalLesion" id="oralMucosalLesionYes" value="Yes" required>
              <label class="form-check-label" for="oralMucosalLesionYes">Yes</label>
            </div>
            <div class="form-check">
              <input class="form-check-input form-control-input" type="radio" name="oralMucosalLesion" id="oralMucosalLesionNo" value="No" required>
              <label class="form-check-label" for="oralMucosalLesionNo">No</label>
            </div>
          </div>
          <br>
          


          <br>
          <div class="row">
            <div class="col-2"><label><b>Doctor's Name :</b></label></div>
            <div class="col-"><input type="text"name = "doctors_name" required/></div>
        </div>
        <br />
        <br />
          <label htmlFor=""><b>Treatment Plan</b></label>
          <br />
          <select id="history" name="treatment" required>
            <option value="Diabetes">Medication:</option>
            <option value="Hypertention">Referral:</option>
            <option value="Thyroid">Scaling:</option>
            <option value="Cardiovascular">Extraction:</option>
            <option value="Respiratory">Filling:</option>
            <option value="Nil">Nil:</option>
            <option value="Others">Others:</option>
          </select>
          <br />
          <br>
          <textarea rows="1" cols="50" name="explanation" form="usrform" ></textarea>
          <br />
          <br>
          <br>
          <button type="submit" style="width: 100%; color: rgb(249, 252, 251); background-color:  rgb(18, 103, 103);"> Submit </button>
        </div>
      </form>
    </div>
</body>
</html>
